:root{
    --button: #006E33;
    --buttonHover: #FFB81C;
}
body {
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: var(--button);
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--button);
}

input[type="text"],
input[type="number"],
input[type="time"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"],
.startButton {
    background-color: var(--button);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

input[type="submit"]:hover,
.startButton:hover {
    background-color: var(--buttonHover);
}

.result {
    margin-top: 30px;
    text-align: left;
}

#countdown {
    font-size: 24px;
    margin-top: 20px;
    color: var(--button);
}

@media (max-width: 768px) {
    .container {
margin: 20px auto;
    }
}